<div class="container">
    {% include "header.html" %}

    <main id="main">
        <h1>Benvenuti alla nostra bisca!</h1>

        <form action="/join" method="post">
            <div id="login-bar">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="name" placeholder="Nome">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="room-id" placeholder="Password sala">
                    <small class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg login-link" type="submit">Entra</button>
                </div>
            </div>
        </form>
    </main>
</div>
